body{
    background-image:url(../images/mehrad-vosoughi-1E5XakhWNOw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color:red;
    text-align: center;
    
}
h2{
    color:white;
}2